* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    padding: 2rem 0;
}

.nav-link {
    cursor: pointer;
}

h3 {
    background-color: black;
    color: white;
    width: 6rem;
    border-radius: .25rem;
    padding: .25rem .75rem;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
}

ul li {
    width: 5rem;
}

a {
    color: black;
}

div > ul {
    flex-direction: column;
    color: white;
}

div > ul > li {
    border-radius: .25rem;
    background-color: black;
    width: 6rem;
    text-align: left;
    padding: .25rem .75rem;
}

div > ul > li:hover {
    border-radius: .25rem;
    background-color: blue;
    width: 6rem;
    text-align: left;
    padding: .25rem .75rem;
}


.hidden {
    display: none;
}

.dropdown {
    cursor: pointer;
}